html, body, #map-canvas {
	height: 200px;
	margin: 0px;
	padding: 0px;
	#front {
		img {
			max-width:100%;
		}
	}
}

#container {
	padding-left:0px;
	h1 {
		font-size: 20px;
		padding-left: 10px;
		margin-top: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 0px;
		background: #092629;
		color: #ccc;
	}
	ul {
		li {
		 background:#f8f8f8;
		}
	}
}